name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v3
    - name: Build
      run: ./gradlew clean build
    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
          name: Test Report
          path: |
            modules/*/build/reports/tests/*/*
